@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style : none;
}

a {
  text-decoration: none;
}
 
body {
  color: rgb(var(--foreground-rgb));
  background: #232a3f;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}
::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #ddd; /* 스크롤바의 색상 */
  border-radius: 10px;
}
